body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    margin-top: 2rem;
    color: #000424;
}

.record {
    display: flex;
    align-items: left;
    flex-direction: column;
    padding: 0.2rem;
    width: 70%;
    margin: 2rem 20%;
    cursor: pointer;
}

.record h3 {
    text-decoration: underline;
    color: #000424;
    font-size: 2rem;
}

.record p {
    margin-top: 0.5rem;
    font-size: 1rem;
}

.record .hidden {
    display: none;
}

.hidden-img {
    margin: 0.5rem;
    max-width: 50%;
    max-height: auto;
}